<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
table.lamp{
	width: 100%;
	border: 1px solid #d4d4d4;
}
table.lamp th td{
	padding: 10px;
}

table.lamp th{
	width: 40px;
}

</style>
</head>
<body>
<table class="lamp">
	<tr>
		<th>
			<img alt="" src="http://static.naver.net/movie/2013/07/logo_ci.png" style="height: 32px; width: 32px">
		</th>
		<td>
			잉글랜드 남동부 템스강(江) 하구에서부터 약 60km 상류에 있다. 영국의 정치·경제·문화 그리고 교통의 중심지일 뿐만 아니라, 영국연방의 사실상의 중심도시다. 뉴욕·상하이·도쿄와 더불어 세계 최대 도시의 하나다.
		</td>
	</tr>
</table>
</body>
</html>

























