<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
header{
	background-color: black;
	color: white;
	text-align: center;
	padding:5px;
}
nav{
	line-height: 30px;
	background-color: #eeeeee;
	height: 300px;
	width:100px;
	float:left;
	padding:5px;
}
section{
	width:350px;
	float: left;
	padding: 10px;
}
footer{
	background-color: black;
	color: white;
	text-align: center;
	padding:5px;
}
</style>
</head>
<body>
<header>
<h1>City Gallery</h1>
</header>

<nav>
런던<br>
파리<br>
뉴욕<br>
</nav>
<section>

</section>

<footer>

</footer>
</body>
</html>









