<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">
  
  <servlet>
     <servlet-name>HiHj</servlet-name>
     <servlet-class>sample06.CookieTest</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>HiHj</servlet-name>
     <url-pattern>/CookieTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>Cookierun</servlet-name>
     <servlet-class>sample02.dispValue</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>Cookierun</servlet-name>
     <url-pattern>/dispVal</url-pattern>
  </servlet-mapping>
  
  </web-app>